* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  background: #555;
}

body > .container {
  padding: 65px 10px 0;
}

body > .row {
  margin: 10px;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

h1.titleAssignment {
  color: white;
  font-size: 500%;
  text-align: center;
}

input {
  color: black;
  font-family: "Advent Pro";
  font-size: 70%;
  font-weight: 900;
  text-align: center;
  width: 50px;
}

label {
  display: inline-block;
  float: left;
  font-size: 70%;
  font-weight: 900;
  margin-top: 6px;
  text-align: right;
  width: 250px;
}

#warningMsg {
  color: red;
  font-size: 70%;
  font-style: italic;
  font-weight: 900;
}

.content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 100%;
  margin: auto;
  background: white;
  padding: 10px;
  display:flex;
  justify-content:center;
  align-items:center;
}

tbody > tr > td {
  background-color: #000000;
  border: 3px solid black;
  color: white;
  height: 25px;
  font-size: 100%;
  font-weight: 900;
  text-align: center;
  width: 25px;
}

/* Style the very top row. */
tbody > tr:first-child > td {
  background-color: yellow;
  color: white;
}

/* Style the left most column. */
tbody > tr > td:first-child {
  background-color: yellow;
  color: white;
}

#tabs {
  background: #000000;
}

.ui-tabs-nav {
  background: #b2b2b2;
  color: white;
}

.tabs.ui-state-default {
  background: #F0F0F0;
  color: #FFFF00;
}

.tabs.ui-state-active {
  background: #0000FF;
  color: #000000;
}

#tabs > ul > li.tab.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
  color: #000000;
}

/* Slider background color / settings */
.ui-slider-horizontal {
  background: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Just the slider handle */
.ui-slider-horizontal .ui-slider-handle {
  background: #FFFFF0;
  border: none;
}

.warningCl {
  padding: 5px;
}

/* Generate Table button
   Not sure why but I needed both selectors for some reason.  */
input[type=submit] {
  width: 150px;
}
div form input.buttonSubmit {
  margin-bottom: 10px;
  width: 150px;
}

tbody > tr > td {
  background-color: #0000FF;
  border: 3px solid #000000;
  color: white;
  height: 25px;
  font-size: 100%;
  font-weight: 900;
  text-align: center;
  width: 25px;
}

/* Style the very top row. */
tbody > tr:first-child > td {
  background-color: #000000;
  color: white;
}

/* Style the left most column. */
tbody > tr > td:first-child {
  background-color: #000000;
  color: white;
}

tbody > tr:first-child > td:first-child {
  background-color: #ffffff;
  border-top: none;
  border-left: none;
  color: black;
  opacity: 0;
}
